@import "tailwindcss";

@theme {
  --color-primary: #32E6E6;
  --color-secondary: #0F172A;
  --radius-2xl: 1rem;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}